<div id="auth">
  <div>
    <!-- Content -->
    <article class="box post">
      <header>
        <h2>Sign In</h2>
        <p>select your favorite</p>
        <google-plus-signin clientid="326090608998-unqart7vidta5k6itvcgddleitk1p7q5" language="en-US"></google-plus-signin>
      </header>
    </article>
  </div>
</div>

<style>
  .row {
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
  }
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .box {
    display: block;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
  }
  .box {
    padding: 4em 1.75em;
    background: #FFF none repeat scroll 0% 0%;
  }
  .post {
    padding-top:1em;
    padding-left:4em;
  }
</style>
