<div id="bases">

	</br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<a href="{{pbase.website}}"><img class="img-responsive" src="{{pbase.image}}" alt=""></a>
      </div> <!-- col -->
			<div class="col-md-5">
        <h3> {{pbase.acronym}} </h3>
        <h4> {{pbase.name}} </h4>
        <p> {{pbase.description}} </p>
        <a class="btn btn-primary" href="{{pbase.website}}">View Database <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div> <!-- col -->
			<div class="col-md-1"></div>
		</div> <!-- row -->
		</br>
		<hr>

</div> <!-- bases-->
