<div id="pipelines">

<div class="row" >

				<div class="col-md-5">
					<a href="{{pflow.website}}"><img class="img-responsive" src="{{pflow.image}}" alt="" ></a>
				</div> <!-- col -->
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<h3> {{pflow.name}} </h3>
					<p><strong><em>Author: {{pflow.author}}</em></strong></p>
					<p> {{pflow.description}} </p>
					<a href="{{pflow.link}}" class="btn btn-default" role="button"> View Workflow </a>
					<a class="btn btn-primary" href="{{pflow.website}}">View Website <span class="glyphicon glyphicon-chevron-right"></span></a>
				</div> <!-- col -->
			</div> <!-- row .-->
			</br>
			
			<hr>

</div>
