<div id="pipelines">

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Workflows
                    <small>public</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->

        <div class="col-lg-6">
            <a href="#">
                <img class="img-responsive" src="images/biosurf-pipeline.png" alt="biosurf">
            </a>
        </div>

        <div class="col-lg-6">
            <h3>
                <a href="#">BioSurfDB</a>
            </h3>
            <p>Metagenomics pipeline suggested by the authors of the Biosurfactants and Biodegradation Database.</p>
            <p>This complete pipeline includes two possible objectives of analysis: <em>Taxonomy and Function</em> or <em>Gene Find and Characterization</em>. </p>
            <a href="#" class="btn btn-primary" role="button">View Workflow</a>
        </div>

    </div> <!-- container-->

    </br>

</div> <!-- workflows-->
