<div id="quicktools" >
    <h1 class="row center-sm">Quick tools</h1>
    <div class="row around-sm">
        <div class="col-sm-3">
            <div class="thumbnail">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                <div class="caption">
                    <h3>Workflows</h3>
                    <p>See and use the workflows that other users have made public</p>
                    <p><a href="#" class="btn btn-primary" role="button">Go</a> <a href="#" class="btn btn-default" role="button">Learn more</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="thumbnail">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                <div class="caption">
                    <h3>Databases</h3>
                    <p>Search domain-specific public repositories for information</p>
                    <p><a href="#" class="btn btn-primary" role="button">Go</a> <a href="#" class="btn btn-default" role="button">Learn more</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="thumbnail">
                <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
                <div class="caption">
                    <h3>Tutorials</h3>
                    <p>Confused? No worries, we have made tutorials for you</p>
                    <p><a href="#" class="btn btn-primary" role="button">Go</a> <a href="#" class="btn btn-default" role="button">Learn more</a></p>
                </div>
            </div>
        </div>


    </div> <!-- ROW -->


    <div class="row around-sm">
        <div class="col-sm-3">
            <div class="thumbnail">
                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                <div class="caption">
                    <h3>Local Services</h3>
                    <p>Use our computacional power to your work</p>
                    <p><a href="#" class="btn btn-primary" role="button">Go</a> <a href="#" class="btn btn-default" role="button">Learn more</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="thumbnail">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <div class="caption">
                    <h3>External Services</h3>
                    <p>Public services that might be useful in the Oil & Gas domain</p>
                    <p><a href="#" class="btn btn-primary" role="button">Go</a> <a href="#" class="btn btn-default" role="button">Learn more</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="thumbnail">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <div class="caption">
                    <h3>REST API</h3>
                    <p>Use the resources of our VRE programaticaly or in your app</p>
                    <p><a href="#" class="btn btn-primary" role="button">Go</a> <a href="#" class="btn btn-default" role="button">Learn more</a></p>
                </div>
            </div>
        </div>


    </div> <!-- ROW -->

</div>

<style>
    .glyphicon {
        font-size: 10em;
        text-align: center;
        padding-left:70px;
        padding-top:30px;
    }

    .row{
        margin-left: 0px;
        margin-right: 0px;
    }
</style>

