<div id="adddatabase">
    <form name="newbaseForm" ng-controller="DatabaseNewController as baseCtrl" ng-submit="newbaseForm.$valid && baseCtrl.addBase()" >


        <!--  var schema = new Schema({
          name: String,
          description: String,
          link: String,
          website: String,
          image: String,
          author: String,
          domainSpecific: Boolean,-->

        <!--  Review Form -->
        <h4>Create a new database</h4>
        <fieldset class="form-group">
            Name:
            <textarea ng-model="baseCtrl.nbase.name" class="form-control" placeholder="Database Name" title="Name" required></textarea>
        </fieldset>
        <fieldset class="form-group">
            Description
            <textarea ng-model="baseCtrl.nbase.description" class="form-control" placeholder="Description" title="Description" required></textarea>
        </fieldset>
        <fieldset class="form-group">
            Website
            <textarea ng-model="baseCtrl.nbase.website" class="form-control" placeholder="Website link" title="Website" required></textarea>
        </fieldset>
        <fieldset class="form-group">
            Image URL
            <textarea ng-model="baseCtrl.nbase.image" class="form-control" placeholder="Image link" title="Image" required></textarea>
        </fieldset>
        <fieldset class="form-group">
            Author
            <input ng-model="baseCtrl.nbase.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required/>
        </fieldset>
        <fieldset class="form-group">Domain Specific
            <br>
            <label>
                <input ng-model="baseCtrl.nbase.domainSpecific" type="radio" value="true" class="form-control" title="Domain Specific" required/>
                Yes
            </label>
            <label>
                <input ng-model="baseCtrl.nbase.domainSpecific" type="radio" value="false" class="form-control" title="Domain Specific" required/>
                No
            </label>
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" class="form-control btn btn-primary pull-right" value="Submit Database" />
        </fieldset>
    </form>
</div>

<style>
    .ng-invalid.ng-dirty {
        border-color: #FA787E;
    }
    .ng-valid.ng-dirty {
        border-color: #78FA89;
    }
</style>