<div id="mission">

    <div class="container" style="width: 66%;">
        <h3> Vision & Mission </h3>
        <p>In our vision, the wheel does not need to be re-invented, by creating new tools or infrastructure. A great investment has been made in the last decades to provide global, maintainable infrastructures of storage, processing, etc.</p>
        <p>The Oil & Gas Virtual Research Environment has been created in an effort to present researchers with a social interface for sharing and discussion of information and tools useful for research in this domain, taking advantage of all the created infrastructures for a sustainable and reliable information system.</p>
        <p>In the future, all researchers will use a virtual research environment, sharing their lab notes with their team or the world.</p>
    </div>

    <div class="container" style="width: 66%;">
        <h3> VRE structure </h3>
        <p></p>
        <div class="panel panel-default col-md-12">
            <!-- Default panel contents -->

            <a id="structure"></a>
            <!-- Table -->
            <table class="table">
                <thead>
                <th>Page</th>
                <th>Description</th>
                </thead>
                <tbody>
                <tr>
                    <td>Workflows</td>
                    <td>Shared bioinformatics or biology workflow, contains an explainatory image, a description and
                        possibly user-posted reviews.
                    </td>
                </tr>
                <tr>
                    <td>Databases</td>
                    <td>Important databases for the domain of Oil & Gas, posted and reviewed by users, same as
                        workflows.
                    </td>
                </tr>
                <tr>
                    <td>External Tools</td>
                    <td>Suggested tools for the domain of Oil & Gas, posted and reviewed by users, same as
                        workflows.
                    </td>
                </tr>
                <tr>
                    <td>Local Services</td>
                    <td>In this section we are going to make available a series of locally installed tools. This will enable our registered users to directly process and analize their data.
                    </td>
                </tr>
                <tr>
                    <td> REST API</td>
                    <td>Programmable access to the information stored in this research environment.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>