<div id="navbar">
    <ul class="nav nav-pills">
	    <li ng-class="{active: isActive('/')}"><a href="#/">Home</a></li>
		<li ng-class="{active: isActive('/getstarted')}"><a href="#/getstarted">Get Started</a></li>
        <li class="dropdown" ng-class="{active: isActive('/workflows') || isActive('/databases')}"><a class="dropdown-toggle" data-toggle="dropdown" href="">Explore <span class="caret"/></a>
			<ul class="dropdown-menu">
			    <li ><a href="#/workflows">Workflows</a></li>
			    <li><a href="#/databases">Databases</a></li>
			</ul>
	    </li>
		<li class="dropdown" ng-class="{active: isActive('/external') || isActive('/local') || isActive('/api')}"><a class="dropdown-toggle" data-toggle="dropdown" href="">Analytics <span class="caret"/></a>
			<ul class="dropdown-menu">
				<li><a href="#/external">External tools</a></li>
				<li><a href="#/local">Local services</a></li>
				<li><a href="#/api">REST API</a></li>
			</ul>
	    </li>
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">Social <span class="caret"/></a>
			<ul class="dropdown-menu">
				<li><a href="//www.facebook.com/Oil-Gas-Virtual-Research-Environment-1013094608761167">Facebook</a></li>
            	<li><a href="//www.myexperiment.org/groups/1299.html">myExperiment</a></li>
                <li><a href="//bitbucket.org/oilandgasvre/">BitBucket</a></li>
			</ul>
	    </li>
	    <li ng-class="{active: isActive('/signin')}"><a href="#/signin">Sign In</a></li>
	    <li ng-class="{active: isActive('/about')}"><a href="#/about">About</a></li>
    </ul>
</div>

<style>
	ul.nav li.dropdown:hover > ul.dropdown-menu {
	    display: block;
	    margin-top: 0;
	}

	ul.nav li.dropdown > ul.dropdown-menu {
	    margin-top: 0;
	}

	#navbar{
		padding-top: 10px;
		padding-bottom: 10px;
	}
</style>
