<div id="sidebar" class="nav nav-stacked col-md-2" ng-controller="SidebarController as sidebarCtrl" >
	<div class="box center">
		<h3>Tools</h3>
		<div class="btn-group-vertical">
			<a ng-href="{{sidebarCtrl.links[0]}}" class="btn btn-primary" role="button">{{sidebarCtrl.buttons[0]}}</a>
			<a ng-href="{{sidebarCtrl.links[1]}}" class="btn btn-success" role="button">{{sidebarCtrl.buttons[1]}}</a>
		</div>
		<h3>Index</h3>
		<div id="index" class="btn-group-vertical">
			<div ng-repeat="item in sidebarCtrl.index">
				<a href="#/{{sidebarCtrl.type}}/#{{item}}" class="list-group-item">{{item}}</a>
			</div>

		</div>
	</div><!-- box -->
</div>

<script>
	$('#sidebar').affix({
		offset: {
			top: 0
		}
	});

	var $body   = $(document.body);
	var navHeight = $('.navbar').outerHeight(true) + 10;

	$body.scrollspy({
		target: '#leftCol',
		offset: navHeight
	});
</script>
