<div id="sidebar" class="nav nav-stacked col-md-2" >

	<div class="col-md-1"></div>
	<div class="box center col-md-1">
			

		<h3>Tools</h3>

		<div class="btn-group-vertical" role="" aria-label="">
			<a ng-href="{{flow.links[0]}}" class="btn btn-primary" role="button">{{base.buttons[0]}}{{flow.buttons[0]}}</a>
			<a ng-href="{{flow.links[1]}}" class="btn btn-success" role="button">{{base.buttons[1]}}{{flow.buttons[1]}}</a>

			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Other
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a ng-href="{{flow.links[2]}}">{{base.buttons[2]}}{{flow.buttons[2]}}</a></li>
					<li><a ng-href="{{flow.links[3]}}">{{base.buttons[3]}}{{flow.buttons[3]}}</a></li>
				</ul>
		
			</div>
	
		</div> 


	</div><!-- box -->

</div>

<script>
$('#sidebar').affix({
      offset: {
        top: 245
      }
});

var $body   = $(document.body);
var navHeight = $('.navbar').outerHeight(true) + 10;

$body.scrollspy({
	target: '#leftCol',
	offset: navHeight
});
</script>
