<div ng-controller="DatabaseNewController">

    <div class="container" style="width: 70%;">

        <h2>Insert a new Database</h2>
        <form name="newbaseForm" ng-controller="DatabaseNewController as baseCtrl" ng-submit="newbaseForm.$valid && baseCtrl.addBase()" >


            <!--  var schema = new Schema({
              name: String,
              description: String,
              link: String,
              website: String,
              image: String,
              author: String,
              domainSpecific: Boolean,-->

            <!--  Review Form -->
            <fieldset class="form-group">
                <h4>Acronym</h4>
                <textarea ng-model="baseCtrl.nbase.acronym" class="form-control" placeholder="Database Acronym" title="Name" required></textarea>
            </fieldset>
            <fieldset class="form-group">
                <h4>Name</h4>
                <textarea ng-model="baseCtrl.nbase.name" class="form-control" placeholder="Database Name" title="Name" required></textarea>
            </fieldset>
            <fieldset class="form-group">
                <h4>Description</h4>
                <textarea ng-model="baseCtrl.nbase.description" class="form-control" placeholder="Description" title="Description" required></textarea>
            </fieldset>
            <fieldset class="form-group">
                <h4>Website</h4>
                <textarea ng-model="baseCtrl.nbase.website" class="form-control" placeholder="Website link" title="Website" required></textarea>
            </fieldset>
            <fieldset class="form-group">
                <h4>Image URL</h4>
                <textarea ng-model="baseCtrl.nbase.image" class="form-control" placeholder="Image link" title="Image" required></textarea>
            </fieldset>
            <fieldset class="form-group">
                <h4>Oil & Gas Domain Specific</h4>
                <label>
                    <input ng-model="baseCtrl.nbase.domainSpecific" type="radio" value="true" class="form-control" title="Domain Specific" required/>
                    Yes
                </label>
                <label>
                    <input ng-model="baseCtrl.nbase.domainSpecific" type="radio" value="false" class="form-control" title="Domain Specific" required/>
                    No
                </label>
            </fieldset>
            <fieldset class="form-group">
                <input type="submit" class="form-control btn btn-primary pull-right" value="Submit Database" />
            </fieldset>
        </form>

    </div>

</div>