<div>

    <div class="container" style="width: 99%;">

        <sidebar></sidebar>

        <div class="container" style="width: 70%;">

                <div ng-repeat="tool in toolsCtrl.tools">

                    <div class="row">

                        <div class="col-md-4">
                            <a id="{{tool.acronym}}"></a>
                            <a href="{{tool.website}}"><img class="img-responsive" ng-src="{{tool.image}}" alt=""></a>
                        </div> <!-- col -->
                        <div class="col-md-1"></div>
                        <!--		<div class="col-md-5">
                                <h3> {{pbase.acronym}} </h3>
                                <h4> {{pbase.name}} </h4>
                                        <p> {{pbase.description}} </p>
                                         <a href="{{pflow.website}}" class="btn btn-default" role="button"> Website </a>
                                  <a href="{{pflow.link}}" class="btn btn-info" role="button"> Comment </a>
                                            <a class="btn btn-primary" href="{{pflow.link}}"> Detail <span class="glyphicon glyphicon-chevron-right"></span></a>

                                </div>  col -->
                        <div class="col-md-6">
                            <h3> {{tool.acronym}} </h3>
                            <p><strong><em>{{tool.name}}</em></strong></p>
                            </br>
                            <section ng-init="tab = 1 ">
                                <ul class="nav nav-pills">
                                    <li ng-class="{ active:tab === 1 }"><a href ng-click="tab = 1">Description</a></li>
                                    <li ng-class="{ active:tab === 2 }"><a href ng-click="tab = 2">View Reviews</a></li>
                                    <li ng-class="{ active:tab === 3 }"><a href ng-click="tab = 3">Add Review</a></li>
                                    <li ng-class="{ active:tab === 4 }"><a href="{{tool.website}}">Start</a></li>
                                </ul>
                            </section>
                            </br>
                            <div class="panel" ng-show="tab == 1">
                                <p> {{tool.description}} </p>
                            </div>
                            <div class="panel" ng-show="tab == 2">
                                <div ng-repeat="review in tool.reviews">
                                    <blockquote>
                                        <b> {{review.stars}} Stars</b>
                                        <p>{{review.body}}</p>
                                        <cite>{{review.author}}</cite>
                                        <p></p>
                                        <p><a ng-click="toolsCtrl.delRev(review._id,tool._id)" class="btn btn-warning" role="button">Delete Review</a></p>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="panel" ng-show="tab == 3">
                                <!--  Review Form -->
                                <form name="reviewForm" ng-controller="DataReviewController as toolReviewCtrl" ng-submit="reviewForm.$valid && toolReviewCtrl.addReview(tool._id)" >
                                    <blockquote >
                                        <strong>{{toolReviewCtrl.review.stars}} Stars</strong>
                                        {{toolReviewCtrl.review.body}}
                                        <cite class="clearfix">-{{toolReviewCtrl.review.author}}</cite>
                                    </blockquote>

                                    <!--  Review Form -->
                                    <h4>Submit a Review</h4>
                                    <fieldset class="form-group">
                                        <select ng-model="toolReviewCtrl.review.stars" class="form-control" ng-options="stars for stars in ['5','4','3','2','1']" title="Stars" required>
                                            <option value>Rate the Product</option>
                                        </select>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <textarea ng-model="toolReviewCtrl.review.body" class="form-control" placeholder="Describe your feelings to us..." title="Review" required></textarea>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <input ng-model="toolReviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required/>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                                    </fieldset>
                                </form>
                            </div>
                        </div> <!-- row -->
                        </br>
                        <hr>

                    </div>


            </div>

        </div>

    </div>

</div>

<style>
    .ng-invalid.ng-dirty {
        border-color: #FA787E;
    }
    .ng-valid.ng-dirty {
        border-color: #78FA89;
    }
</style>

