<div class="container" style="width: 99%;">
    <sidebar ng-show="isAuthenticated"></sidebar>
    <div class="container" style="width: 70%;">
        <div id="pipelines">
            <div ng-hide="workflowsCtrl.workflows.length"><h1>There are no items to show.</h1></div>
            <div ng-controller="DocumentsController as documentsCtrl" ng-repeat="workflow in workflowsCtrl.workflows">
                <div ng-controller="ReviewsController as reviewsCtrl"  class="row" >
                    <div class="col-md-4">
                        <a id="anchor{{workflow.name}}"></a>
                        <a href="#/workflow/detail/{{workflow._id}}"><img class="img-responsive" ng-src="{{workflow.image}}" alt="" ></a>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <h3> {{workflow.name}} </h3>
                        <p><strong><em>Author: {{workflow.author}}</em></strong></p>
                        <div ng-show="workflow.hasPermissions">
                            <a ng-click="documentsCtrl.delDoc(workflow._id)" class="btn btn-danger" role="button">Delete Workflow</a>
                        </div>
                        </br>
                        <section ng-init="tab = 1 ">
                            <ul class="nav nav-pills">
                                <li ng-class="{ active:tab === 1 }"><a href ng-click="tab = 1">Description</a></li>
                                <li ng-class="{ active:tab === 2 }"><a href ng-click="tab = 2">View Reviews</a></li>
                                <li ng-class="{ active:tab === 3 }"><a href ng-click="tab = 3">Add Review</a></li>
                                <li ng-class="{ active:tab === 4 }"><a href="#/workflow/detail/{{workflow._id}}">Start</a></li>
                            </ul>
                        </section>
                        </br>
                        <div class="panel" ng-show="tab == 1">
                            <p> {{workflow.description}} </p>
                        </div>
                        <div class="panel" ng-show="tab == 2">
                            <div ng-repeat="review in workflow.reviews">
                                <blockquote>
                                    <b> {{review.stars}} Stars</b>
                                    <p>{{review.body}}</p>
                                    <cite>{{review.author}}</cite>
                                    <p></p>
                                    <p ng-show="review.hasPermissions"><a ng-click="reviewsCtrl.delRev(review._id,workflow._id)" class="btn btn-danger" role="button">Delete Review</a></p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="panel" ng-show="tab == 3">
                            <!--  Review Form -->
                            <div ng-hide="isAuthenticated">
                                <h3>You must sign in to add a review</h3>
                                <h4>Sign In with Google </h4>
                                <a href="http://aleph.inesc-id.pt/vre/api/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
                                <br>
                            </div>
                            <div ng-show="isAuthenticated">
                                <form name="reviewForm" ng-submit="reviewForm.$valid && reviewsCtrl.addReview(workflow._id)" >
                                    <blockquote >
                                        <strong>{{reviewsCtrl.review.stars}} Stars</strong>
                                        {{reviewsCtrl.review.body}}
                                        <br>
                                        <cite>-{{reviewsCtrl.review.author}}</cite>
                                    </blockquote>
                                    <!--  Review Form -->
                                    <h4>Submit a Review</h4>
                                    <fieldset class="form-group">
                                        <select ng-model="reviewsCtrl.review.stars" class="form-control" ng-options="stars for stars in ['5','4','3','2','1']" title="Stars" required>
                                            <option value>Rate the Product</option>
                                        </select>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <textarea ng-model="reviewsCtrl.review.body" class="form-control" placeholder="Describe your feelings to us..." title="Review" required></textarea>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </br>
                <hr>
            </div>
        </div>
    </div>
</div>
